.wrapper {

  text-align: center;
  width: 500px;
  margin: 200px 0 0 100px;
}
body {
  background: pink;
  background-image: url(https://www1.cbn.com/sites/default/files/Islam_SSH.jpg);
  background-size: cover;
  height: 588px;
}

h1 {
  font-size: 50px;
  margin-bottom: 5px;
}
h2 {
  margin-bottom: 40px;
}

.btn {
  padding: 5px 25px;
  font-size: 20px;
  background: rgb(97, 228, 97);
  color: white;
  border-radius: 100px;
  border-color: rgb(97, 228, 97);
  
}

.display-none {
  display: none !important;
}